<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <meta charset="utf-8" />
</head>
<body>
    <%- include("partials/header.ejs") %>
    <%- include("partials/nav.ejs") %>
    <p> Эта страница сделана на EJS</p>
    <%- include("partials/footer.ejs") %>
</body>
<html>