doctype html
html
  head
  title About me
  body
    header Это header

    nav 
        a(href="/about_me") HBS |
        a(href="/about_me/EJS") EJS
    
    p Это страница сделана на PUG
    footer my company - Все права не защищены @ 2023